html,
body,
#app {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

#root-portal {
    z-index: 2000;
    position: fixed;
}

.icon-btn {
    @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-teal-600;
    font-size: 0.9em;
}


.skeleton-box-experience {
    @apply animate-pulse flex h-4 bg-gray-200;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
